<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>kendoJ index</title>
    {load href="/kendoJ/styles/kendo.common.min.css"} 
    {load href="/kendoJ/styles/kendo.default.min.css"} 
    {load href="/kendoJ/styles/kendo.default.mobile.min.css"}
    {load href="/kendoJ/js/jquery.min.js,/kendoJ/js/kendo.all.min.js" /}

</head>

<body>
    <div id="example" ; style="width: 96%;margin: auto;padding-top: 20px;">
        <div id="grid">
        </div>
    </div>
    其他内容
</body>
<script>
    // var products = eval('{$data|default=""}');
    // console.log(products);
    var products = new kendo.data.DataSource({
        transport:{
            read:{
                url:"/index.php/grid/index/get_member",
            }
        },
        pageSize:10,
    });
    $("#grid").kendoGrid({
        dataSource: products,
        
        columns:[
            {title: "会员ID", field: "ID", width:30},
            {title: "会员编号", field: "MEMB_BH", width:70},
            {title: "会员名称", field: "MEMB_MC", width:50},
            {title: "等级", field: "MEMB_LEVEL", width:30},
            {title: "性别", field: "MEMB_SEX", width:30},
            {title: "生日", field: "MEMB_BDAY", width:50},
            {title: "电话", field: "MEMB_PHONE", width:50},
            {title: "备注", field: "MEMB_BZ", width:50},
            {title: "状态", field: "MEMB_STATUS", width:50},
        ],
        pageable:{
            // pagesizes:true,
            // refresh:true,
            // buttonCount:5,
            input: true,
            numeric: false
        },
        sortable:true,
        groupable:true,
    });

</script>

</html>